.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
}

.title {
    font-size: 6rem;
}

.paragraph-1 {
    width: 1000px;
    text-align: center;
}