.photo-ctn {
    display: flex;
    justify-content: center;
}

.home-container {
    display: flex;
    justify-content: center;
}

.card {
    border: 5px solid hsl(0, 14%, 70%);
    border-radius: 12px;
    padding: 100px;
    margin: 100px;
    background-color:#efe8e8;
    font-size: 30px;
    width: 900px;
}

.my-photo {
    width: 600px;
    height: 600px;
}

.intro-text {
    font-size: 35px;
}

.txt-header {
    text-align: center;
}

.txt-ctn {
    margin: auto;
}

.yifang-link {
    text-decoration: none;
}

