.project-filter-ctn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
}

.project-filter-list {
    display: flex;
    gap: 20px;
    list-style-type: none;
}
